<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="icon" href="{{ asset('images/logo-icon.png') }}">
        <link rel="stylesheet" href="{{ asset('css/bulma.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/bulmamodif.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="{{ asset('css/bulma-collapsible.min.css') }}"/>
    {% endblock %}

    {% block javascripts %}
        <script>
            if (CSS && 'paintWorklet' in CSS) CSS.paintWorklet.addModule('https://unpkg.com/smooth-corners')
        </script>
        <script src="{{ asset('js/toggle.js') }}"></script>
        <script src="https://kit.fontawesome.com/76fcf77af4.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/bulma-collapsible.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
    <section class="hero is-gsb is-fullheight">
        <div class="hero-head">
            <nav class="navbar animate__animated animate__fadeInDown">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <p role="img" class="gsb-logo is-bright"></p>
                        </a>
                    </div>
                    {% if session is defined %}
                        <div id="navbarMenuHeroB" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ path('visiteur') }}" class="navbar-item is-active">
                                <span class="has-4px-margin-right">
                                    <i class="fas fa-redo"></i>
                                </span>
                                    <span> ESPACE</span>
                                </a>
                                <a class="navbar-item is-relative">
                                    PROFIL
                                    <div class="dropdown is-right is-hoverable is-absolute">
                                        <div class="dropdown-trigger">
                                            <button class="is-invisible" aria-haspopup="true"
                                                    aria-controls="dropdown-menu4">
                                                <span>PROFIL</span>
                                                <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu is-offset" id="dropdown-menu4" role="menu">
                                            <div class="box is-opaque is-profil">
                                                <div class="column">
                                                    <div class="columns">
                                                        <div class="column has-no-padding-bottom has-2px-padding-top has-finest-padding-1024px">
                                                            <div class="tags has-addons">
                                                            <span class="tag has-text-bigger has-no-border-radius-top-left is-a-bit-transparent">
                                                                <span>Nom</span>
                                                            </span>
                                                                <span class="tag has-text-bigger has-no-border-radius-top-right is-a-lot-transparent">
                                                                {{ session.get('nom') }}
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns">
                                                        <div class="column has-no-padding-bottom has-2px-padding-top has-finest-padding-1024px">
                                                            <div class="tags has-addons">
                                                            <span class="tag has-text-bigger has-no-border-radius is-a-bit-transparent">
                                                                <span>Prénom</span>
                                                            </span>
                                                                <span class="tag has-text-bigger has-no-border-radius is-a-lot-transparent">
                                                                {{ session.get('prenom') }}
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns">
                                                        <div class="column has-no-padding-bottom has-2px-padding-top has-finest-padding-1024px">
                                                            <div class="tags has-addons">
                                                            <span class="tag has-text-bigger has-no-border-radius is-a-bit-transparent">
                                                                <span>Identifiant</span>
                                                            </span>
                                                                <span class="tag has-text-bigger has-no-border-radius is-a-lot-transparent">
                                                                <strong>
                                                                    {{ session.get('id') }}
                                                                </strong>
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="columns">
                                                        <div class="column has-no-padding-bottom has-2px-padding-top has-finest-padding-1024px">
                                                            <div class="tags has-addons">
                                                            <span class="tag has-text-bigger has-no-border-radius-bottom-left is-a-bit-transparent">
                                                                <span>Mot de passe</span>
                                                            </span>
                                                                <span class="tag has-text-bigger has-border-radius-bottom-right is-a-lot-transparent">
                                                                *******
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <span class="navbar-item">
                                <a href="{{ path('signoff') }}">
                                <button class="button-animation color-3 is-wider">
                                    <span>DÉCONNEXION</span>
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                </button>
                                </a>
                            </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <body>
                {% block body %}
                {% endblock %}
                </body>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container has-text-centered">
                <div class="content is-small">
                    <p>
                        <strong>GSB</strong> par <a>Hugo Da Silva.</a> TS2SIO 2021-2022 - Louis Armand Nogent-sur-Marne, 94130.
                    </p>
                </div>
            </div>
        </div>
    <div class="block"></div>
</html>
